src/test/resources/schemas/fpml/fpml-valuation-reporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
== Copyright (c) 2002-2014. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns="http://svn.msk.trd.ru/xsd/fixml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:view="http://www.fpml.org/views" targetNamespace="http://svn.msk.trd.ru/xsd/fixml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 8571 $" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML">
	<xsd:annotation>
		<xsd:appinfo>
			<view:exclusive view="reporting"/>
			<view:exclusive view="recordkeeping"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="fpml-business-events.xsd"/>
	<xsd:include schemaLocation="fpml-valuation.xsd"/>
	<xsd:complexType name="PortfolioValuationItem">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type used in valuation enquiry messages which relates a portfolio to its trades and current value.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="portfolio">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Portfolio identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Zero or more trade valuation items.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="valuationSet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The portfolio valuation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestValuationReport">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message allowing one party a report containing valuations of one or many existing trades.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CorrectableRequestMessage">
				<xsd:sequence>
					<xsd:element name="reportContents" type="ReportContents" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The specific characteristics to be included in the report.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date for which this report is requested.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="PartiesAndAccounts.model"/>
					<xsd:element ref="market" minOccurs="0"/>
					<xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique portfolio valuation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade
								valuation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReportContents">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type used to describe the scope/contents of a report.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="partyReference" type="PartyReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The party for which this report was generated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountReference" type="AccountReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The account for which this report was generated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="category" type="TradeCategory" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Used to categorize trades into user-defined categories, such as house trades vs. customer trades.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="assetClass" type="AssetClass" minOccurs="0" maxOccurs="unbounded" >
					<xsd:annotation>
						<xsd:documentation xml:lang="en">A classification of the risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
						<xsd:appinfo>
							<view:skip view="recordkeeping"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="primaryAssetClass" type="AssetClass" >
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A classification of the most important risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="secondaryAssetClass" type="AssetClass" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A classification of additional risk classes of the trade, if any. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="productType" type="ProductType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A classification of the type of product. FpML defines a simple product categorization using a coding scheme.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="queryPortfolio" type="QueryPortfolio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The desired query portfolio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reportingRegime" type="ReportingRegimeIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The regulatory reporting regime for which this report contains information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TradeValuationItem">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type used in trade valuation enquiry messages which
				relates a trade identifier to its current value.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:sequence>
					<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">One or more trade identifiers needed to uniquely identify a trade.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="relatedParty" type="RelatedParty" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">This may be used to identify one or more parties that perform a role within the transaction.  If this is within a partyTradeInformation block, the related party performs the role with respect to the party identifie by the "partyReference" in the partyTradeInformation block.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="trade" type="Trade">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Fully-described trades whose values are reported.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="valuationSet">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The trade valuation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="ValuationReport">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message normally generated in response to a RequestValuationReport request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="reportIdentification" type="ReportIdentification" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Identifiers for the report instance and section.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reportContents" type="ReportContents" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The specific characteristics included in the report.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date for which this request was create.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="asOfTime" type="xsd:time" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The time within the as-of date for which this report was created (i.e., the cut-off time of the report).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="generatedDateTime" type="xsd:dateTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The time this report was actually generated (i.e., the processing time of the report). This value, if present, will be no later than the message created time, and no earlier than any timestamp within a trade valuation item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="PartiesAndAccounts.model"/>
					<xsd:element ref="market" minOccurs="0"/>
					<xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique portfolio valuation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A collection of data values describing the state of the given trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:complexType name="ValuationReportRetracted">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message that retracts a valuation report.  This says that the most recently supplied valuation is erroneous and a previous value should be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="reportIdentification" type="ReportIdentification" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Identifiers for the report instance and section.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reportContents" type="ReportContents" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The specific characteristics included in the report.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date for which this request was generated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">One or more trade identifiers needed to uniquely identify a trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="PartiesAndAccounts.model"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:element name="portfolio" type="Portfolio">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Global portfolio element used as a basis for a substitution group.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="queryPortfolio" type="QueryPortfolio" substitutionGroup="portfolio">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Global element used to substitute for "portfolio".</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Reporting messages.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="requestValuationReport" type="RequestValuationReport"/>
	<xsd:element name="valuationReport" type="ValuationReport"/>
	<xsd:element name="valuationReportRetracted" type="ValuationReportRetracted"/>
	<xsd:element name="valuationReportAcknowledgement" type="Acknowledgement"/>
	<xsd:element name="valuationReportException" type="Exception"/>
</xsd:schema>
