src/test/resources/schemas/fpml/fpml-clearing-processes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
== Copyright (c) 2002-2014. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns="http://svn.msk.trd.ru/xsd/fixml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:view="http://www.fpml.org/views" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://svn.msk.trd.ru/xsd/fixml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 9756 $" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML">
	<xsd:annotation>
		<xsd:appinfo>
			<view:exclusive view="confirmation"/>
			<view:exclusive view="pretrade"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="fpml-business-events.xsd"/>
	<xsd:complexType name="ClearingEligibility">
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:choice minOccurs="0">
						<!--<xsd:group ref="Events.model"> BPWG2014 Replaced by the below - comment to be deleted before 5.8LCWD 
							<xsd:annotation>
								<xsd:appinfo>
									<view:override view="pretrade" minOccurs="1"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:group>-->
						<xsd:group ref="TradingEvents.model">
							<xsd:annotation>
								<xsd:appinfo>
									<view:override view="pretrade" minOccurs="1"/>
								</xsd:appinfo>
							</xsd:annotation>							
						</xsd:group>
						<xsd:element name="deClear" type="DeClear">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
								<xsd:appinfo>
									<view:skip view="pretrade" rationale="Unsupported"/>
									<view:skip view="transparency" rationale="Unsupported"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier"/>
					</xsd:choice>
					<xsd:element name="eligibleForClearing" type="xsd:boolean">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="clearingRequirements" type="ClearingRequirements" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClearingRequirements">
		<xsd:sequence>
			<xsd:element name="supervisoryBody" type="SupervisoryBody">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The regulator or other supervisory body to which the clearing requirements apply.</xsd:documentation>
					<xsd:appinfo>
						<view:override view="pretrade" minOccurs="1"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mandatorilyClearable" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Whether the particular trade type in question is required by this regulator to be cleared.</xsd:documentation>
					<xsd:appinfo>
						<view:override view="pretrade" minOccurs="1"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reason" type="Reason" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Indicates a reason supporting why the trade is mandatorily clearable or not.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Margins">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type capturing margin information.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="margin" type="BasicQuotation" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketData">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type capturing market data information.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fxRate" type="FxRate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarginQuote">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A message indicating that the margin quote has been acted upon.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valueDate" type="xsd:date"/>
			<xsd:element name="valueTime" type="xsd:time"/>
			<xsd:element name="tradeIdentifier" type="TradeIdentifier"/>
			<xsd:element name="valuations" type="ValuationsBasicQuotation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="margins" type="Margins" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="marketData" type="MarketData" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarginQuoteAcknowledgement">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the structure for a message acknowledging an event request.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:element name="originalMessage" type="UnprocessedElementWrapper" minOccurs="0"/>
					<xsd:group ref="TradeReferenceInformation.model" minOccurs="0"/>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarginQuoteConfirmed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A message indicating that the margin quote has been acted upon.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:choice minOccurs="0">
						<!--<xsd:group ref="Events.model"/> BPWG2014 Replaced by the below - comment to be deleted before 5.8LCWD -->
						<xsd:group ref="TradingEvents.model"/>
						<xsd:element name="deClear" type="DeClear">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
								<xsd:appinfo>
									<view:skip view="pretrade" rationale="Unsupported"/>
									<view:skip view="transparency" rationale="Unsupported"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier"/>
					</xsd:choice>
					<xsd:element name="marginQuote" type="MarginQuote" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarginQuoteRefused">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A message indicating that the margin quote has been refused.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<!--<xsd:group ref="Events.model" minOccurs="0"/> BPWG2014 Replaced by the below - comment to be deleted before 5.8LCWD -->
					<xsd:choice minOccurs="0">
						<xsd:group ref="TradingEvents.model"/>
						<xsd:element name="deClear" type="DeClear">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
								<xsd:appinfo>
									<view:skip view="pretrade" rationale="Unsupported"/>
									<view:skip view="transparency" rationale="Unsupported"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:group ref="EventValuation.model" minOccurs="0"/>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
					<xsd:element name="reason" type="Reason" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarginQuoteType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Allows the requestor to specify if they want this trade/trade set margining with an associated portfolio with the Clearing Organization or not. Proposed values are: TradeOnly and TradeAndPortfolio</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="marginQuoteTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/margin-quote-type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RequestClearingEligibility">
		<xsd:complexContent>
			<xsd:extension base="CorrectableRequestMessage">
				<xsd:sequence>
					<xsd:element name="requestingPartyReference" type="PartyReference" minOccurs="0" fpml-annotation:deprecated="true" fpml-annotation:deprecatedReason="Deprecated in favor of existing onBehalfOf element."/>
					<!--<xsd:group ref="Events.model"> BPWG2014 Replaced by the below - comment to be deleted before 5.8LCWD 
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>-->
					<xsd:choice>
						<xsd:group ref="TradingEvents.model">
							<xsd:annotation>
								<xsd:appinfo>
									<view:override view="pretrade" minOccurs="1"/>
								</xsd:appinfo>
							</xsd:annotation>							
						</xsd:group>
						<xsd:element name="deClear" type="DeClear">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
								<xsd:appinfo>
									<view:skip view="pretrade" rationale="Unsupported"/>
									<view:skip view="transparency" rationale="Unsupported"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestMarginQuote">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A message requesting clearing eligibility of a trade.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CorrectableRequestMessage">
				<xsd:sequence>
					<xsd:element name="portfolioReference" type="PortfolioReference"/>
					<xsd:element name="marginQuoteType" type="MarginQuoteType"/>
					<!--<xsd:group ref="Events.model"/> BPWG2014 Replaced by the below - comment to be deleted before 5.8LCWD -->
					<xsd:choice>
						<xsd:group ref="TradingEvents.model"/>
						<xsd:element name="deClear" type="DeClear">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
								<xsd:appinfo>
									<view:skip view="pretrade" rationale="Unsupported"/>
									<view:skip view="transparency" rationale="Unsupported"/>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:group ref="PartiesAndAccounts.model">
						<xsd:annotation>
							<xsd:appinfo>
								<view:override view="pretrade" minOccurs="0"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ValuationsBasicQuotation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type capturing valuation information.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valuation" type="BasicQuotation" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestClearingEligibility" type="RequestClearingEligibility"/>
	<xsd:element name="clearingEligibility" type="ClearingEligibility"/>
	<xsd:element name="clearingEligibilityException" type="Exception"/>
	<xsd:element name="clearingEligibilityAcknowledgement" type="Acknowledgement"/>
	<xsd:element name="requestMarginQuote" type="RequestMarginQuote">
		<xsd:annotation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="marginQuoteAcknowledgement" type="MarginQuoteAcknowledgement">
		<xsd:annotation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="marginQuoteConfirmed" type="MarginQuoteConfirmed">
		<xsd:annotation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="marginQuoteRefused" type="MarginQuoteRefused">
		<xsd:annotation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="marginQuoteException" type="Exception">
		<xsd:annotation>
			<xsd:appinfo>
				<view:skip view="confirmation" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
