src/test/resources/schemas/fpml/fpml-variance-swaps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
        == Copyright (c) 2002-2014. All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema targetNamespace="http://svn.msk.trd.ru/xsd/fixml" xmlns="http://svn.msk.trd.ru/xsd/fixml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 10780 $" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:view="http://www.fpml.org/views">
	<xsd:annotation>
		<xsd:appinfo>
			<view:exclusive view="confirmation"/>
			<view:exclusive view="reporting"/>
			<view:exclusive view="recordkeeping"/>
			<view:exclusive view="transparency"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="fpml-eqd.xsd"/>
    <xsd:complexType name="LimitedVarianceSwapTransactionSupplement">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A Variance Swap Transaction Supplement - limited form for use as underlyer to option on variance swap.</xsd:documentation>
			<xsd:appinfo>
				<view:exclusive view="transparency"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="varianceLeg" type="VarianceLeg" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Variance Leg.</xsd:documentation>
					<xsd:appinfo>
						<view:override view="transparency" minOccurs="1"/>
						<view:override view="recordkeeping" minOccurs="1"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="VarianceAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Calculation of a Variance Amount.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CalculatedAmount">
				<xsd:sequence>
					<xsd:element name="variance" type="Variance">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies Variance.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VarianceLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing return which is driven by a Variance Calculation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DirectionalLegUnderlyerValuation">
				<xsd:sequence>
					<xsd:element name="amount" type="VarianceAmount">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates. Unless otherwise specified, this term has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VarianceOptionTransactionSupplement">
		<xsd:complexContent>
			<xsd:extension base="OptionBase">
				<xsd:sequence>
					<xsd:element name="equityPremium" type="EquityPremium">
						<xsd:annotation>
							<xsd:documentation xml:lang="en"> The variance option premium payable by the buyer to the seller.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExercise" type="EquityExerciseValuationSettlement">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parameters for defining how the equity option can be exercised, how it is valued and how it is settled.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="exchangeLookAlike" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">For a share option transaction, a flag used to indicate whether the transaction is to be treated as an 'exchange look-alike'. This designation has significance for how share adjustments (arising from corporate actions) will be determined for the transaction. For an 'exchange look-alike' transaction the relevant share adjustments will follow that for a corresponding designated contract listed on the related exchange (referred to as Options Exchange Adjustment (ISDA defined term), otherwise the share adjustments will be determined by the calculation agent (referred to as Calculation Agent Adjustment (ISDA defined term)).</xsd:documentation>
							<xsd:appinfo>
								<view:skip view="transparency" rationale="Documentation"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="methodOfAdjustment" type="MethodOfAdjustmentEnum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Defines how adjustments will be made to the contract should one or more of the extraordinary events occur.</xsd:documentation>
							<xsd:appinfo>
								<view:skip view="transparency" rationale="Documentation"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice minOccurs="0">
						<xsd:element name="optionEntitlement" type="PositiveDecimal">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The number of shares per option comprised in the option transaction supplement.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="multiplier" type="PositiveDecimal">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Specifies the contract multiplier that can be associated with an index option.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="clearingInstructions" type="SwaptionPhysicalSettlement" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies any instructions on how the physical settlement is to be effected when the option is exercised.</xsd:documentation>
							<xsd:appinfo>
								<view:skip view="pretrade" />
								<view:skip view="transparency"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="varianceSwapTransactionSupplement" type="VarianceSwapTransactionSupplement">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The variance swap details.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" type="LimitedVarianceSwapTransactionSupplement"/>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VarianceSwap">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A Variance Swap.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="transparency" rationale="Unsupported"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NettedSwapBase">
				<xsd:sequence>
					<xsd:element name="varianceLeg" type="VarianceLeg" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Variance Leg.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VarianceSwapTransactionSupplement">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A Variance Swap Transaction Supplement.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Product">
				<xsd:sequence>
					<xsd:element name="varianceLeg" type="VarianceLeg" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Variance Leg.</xsd:documentation>
							<xsd:appinfo>
								<view:override view="transparency" minOccurs="1"/>
								<view:override view="recordkeeping" minOccurs="1"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="EquityUnderlyerProvisions.model" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<view:skip view="transparency" rationale="Documentation"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="varianceOptionTransactionSupplement" type="VarianceOptionTransactionSupplement" substitutionGroup="product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the structure of a variance option.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="varianceSwap" type="VarianceSwap" substitutionGroup="product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the structure of a variance swap.</xsd:documentation>
			<xsd:appinfo>
				<view:skip view="transparency" rationale="Unsupported" />
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="varianceSwapTransactionSupplement" type="VarianceSwapTransactionSupplement" substitutionGroup="product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the structure of a variance swap transaction supplement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>