src/test/resources/schemas/asset_import-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ST_REFERENCE">
        <xs:annotation>
            <xs:documentation>A string reference from 1 to 100 characters in length.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
          <xs:minLength value="1"/>
          <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TRADEABLE_LOT">
        <xs:annotation>
            <xs:documentation>The block size in which the asset can be traded.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PAYMENT_FREQUENCY">
        <xs:annotation>
            <xs:documentation>The frequency at which interest payments or cash distributions are made.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PAR_VALUE">
        <xs:annotation>
            <xs:documentation>The Stated value or Face value</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BUSINESS_UNIT">
        <xs:annotation>
            <xs:documentation>Not currently used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CLIENT">
        <xs:annotation>
            <xs:documentation>Not currently used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_ASSET_PRICE">
        <xs:annotation>
            <xs:documentation>Current Market Price of the Asset Listing.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_MARKET_VALUE">
        <xs:annotation>
            <xs:documentation>The Market Value of the Asset Listing.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_OF_INTEREST">
        <xs:annotation>
            <xs:documentation>
            Bulk file loads will cause Assets no longer presented in the file to be marked as no longer being a Security of Interest.
            Delta file loads will mark Assets as either Y or N (defaults to Y).
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="Y"/>
                <xs:enumeration value="N"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_ACTIVE_STATUS">
        <xs:annotation>
            <xs:documentation>Is the listing active, Y or N.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="Y"/>
                <xs:enumeration value="N"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_START_DATE">
        <xs:annotation>
            <xs:documentation>Date on which an Asset is available for example, in a Rights issue.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_END_DATE">
        <xs:annotation>
            <xs:documentation>The expiry date of the Asset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_MIC_ISO_CODE">
        <xs:annotation>
            <xs:documentation>The ISO code of the Exchange on which the Asset is listed.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:length value="4"/>
                <xs:pattern value="[A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_SETTLEMENT_COUNTRY_ISO_CODE">
        <xs:annotation>
            <xs:documentation>The ISO code of the Country in which the Asset Listing is Settled.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:length value="2"/>
                <xs:pattern value="[A-Z][A-Z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTING_CURRENCY">
        <xs:annotation>
            <xs:documentation>The Currency in which the Asset Listing is Settled.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:length value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LISTINGS">
        <xs:annotation>
            <xs:documentation>The set of Listings of the enclosing Asset.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LISTING" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LISTING">
        <xs:annotation>
            <xs:documentation>A Listing of the enclosing Asset.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element ref="LISTING_MIC_ISO_CODE" minOccurs="0"/>
                <xs:element ref="LISTING_CURRENCY"/>
                <xs:element ref="LISTING_ASSET_PRICE" minOccurs="0" />
                <xs:element ref="LISTING_OF_INTEREST"/>
                <xs:element ref="LISTING_SETTLEMENT_COUNTRY_ISO_CODE"/>
                <xs:element ref="LISTING_MARKET_VALUE" minOccurs="0"/>
                <xs:element ref="LISTING_START_DATE" minOccurs="0"/>
                <xs:element ref="LISTING_END_DATE" minOccurs="0"/>
                <xs:element ref="LISTING_REFERENCES"/>
            </xs:all>
            <xs:attribute name="uniqueId" use="required">
                <xs:annotation>
                    <xs:documentation>The unique identifier that is used to refer to this Asset Listing during all Asset Register feeds and Position feeds.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ISSUER_NAME">
        <xs:annotation>
            <xs:documentation>The name of the Asset Issuer.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:minLength value="2"/>
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ISSUER_DESCRIPTION">
        <xs:annotation>
            <xs:documentation>A description of the Asset Issuer.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:minLength value="2"/>
                <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ISSUER_COUNTRY_ISO_CODE">
        <xs:annotation>
            <xs:documentation>The ISO Country code of the Asset Issuer.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:length value="2"/>
                <xs:pattern value="[A-Z][A-Z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ISSUERS">
        <xs:annotation>
            <xs:documentation>The set of Asset Issuers.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        <xs:sequence>
            <xs:element ref="ISSUER" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="value1" use="required">
            <xs:annotation>
                <xs:documentation>
                    The value of the attribute to be attached to the target tag.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
            <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value2" use="required">
            <xs:annotation>
                <xs:documentation>
                    The value of the attribute to be attached to the target tag.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
            <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ISSUER">
        <xs:annotation>
            <xs:documentation>An Asset Issuer.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ISSUER_NAME">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ISSUER_DESCRIPTION">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ISSUER_COUNTRY_ISO_CODE" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:length value="2"/>
                            <xs:pattern value="[A-Z][A-Z]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="ASSETS"/>
            </xs:sequence>
            <xs:attribute name="uniqueId" use="required">
                <xs:annotation>
                    <xs:documentation>The unique identifier that is used to refer to this Asset Issuer during all Asset Register feeds.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="INTEREST_RATE">
        <xs:annotation>
            <xs:documentation>The Rate at which Interest is paid.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="FIRST_PAYMENT_DATE">
        <xs:annotation>
            <xs:documentation>The date on which First Interest Payment will be made.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DAY_COUNT_CONVENTION">
        <xs:annotation>
            <xs:documentation>30/360, actual/actual etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte">
                <xs:enumeration value="0"/>
                <xs:enumeration value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_TYPE">
        <xs:annotation>
            <xs:documentation>The type of the Asset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:minLength value="2"/>
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_REGISTER">
        <xs:annotation>
            <xs:documentation>A set of Issuers, Assets and Asset Listings.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ISSUERS"/>
            </xs:sequence>
            <xs:attribute name="delta" use="required">
                <xs:annotation>
                    <xs:documentation>Indicates a complete or partial Asset Register.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dateFormat" use="required">
                <xs:annotation>
                    <xs:documentation>The format of dates that appear in the Asset Register.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
<!-- maybe would be nice to do an enumeration or pattern match here, but that may be nannying -->
<!--						<xs:enumeration value="ddMMyyyy"/>  -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="client" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        <xs:unique name="uniqueIssuerIds">
            <xs:selector xpath=".//ISSUER"/>
            <xs:field xpath="@uniqueId"/>
        </xs:unique>
        <xs:unique name="uniqueAssetIds">
            <xs:selector xpath=".//ASSET"/>
            <xs:field xpath="@uniqueId"/>
        </xs:unique>
        <xs:unique name="uniqueAssetListingIds">
            <xs:selector xpath=".//LISTING"/>
            <xs:field xpath="@uniqueId"/>
        </xs:unique>
        <xs:unique name="uniqueAssetReferences">
            <xs:selector xpath=".//ASSET_REFERENCE"/>
            <xs:field xpath="./@referenceType"/>
            <xs:field xpath="."/>
        </xs:unique>
        <!-- CAS-8057 Allow duplicate listing references -->
        <!--
        <xs:unique name="uniqueListingReferences">
            <xs:selector xpath=".//LISTING_REFERENCE"/>
            <xs:field xpath="./@referenceType"/>
            <xs:field xpath="."/>
        </xs:unique>
         -->
    </xs:element>
    <xs:element name="ASSET_REFERENCES">
        <xs:annotation>
            <xs:documentation>The set of references by which this Asset is known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ASSET_REFERENCE" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueAssetReferenceType">
            <xs:selector xpath="./ASSET_REFERENCE"/>
            <xs:field xpath="@referenceType"/>
        </xs:unique>
    </xs:element>
    <xs:element name="ASSET_REFERENCE">
        <xs:annotation>
            <xs:documentation>A unique reference by which this Asset is known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_REFERENCE">
                    <xs:attribute name="referenceType" use="required">
                        <xs:annotation>
                            <xs:documentation>The type of the Asset reference e.g. Isin.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="Isin"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LISTING_REFERENCES">
        <xs:annotation>
            <xs:documentation>The set of Listing level References by which this Asset Listing is known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LISTING_REFERENCE" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueListingReferenceType">
            <xs:selector xpath="./LISTING_REFERENCE"/>
            <xs:field xpath="@referenceType"/>
        </xs:unique>
    </xs:element>
    <xs:element name="LISTING_REFERENCE">
        <xs:annotation>
            <xs:documentation>A unique reference by which this Asset Listing is known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_REFERENCE">
                    <xs:attribute name="referenceType" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="Bloomberg"/>
                                <xs:enumeration value="Cusip"/>
                                <xs:enumeration value="INTERNAL"/>
                                <xs:enumeration value="Sedol"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ASSET_NAME">
        <xs:annotation>
            <xs:documentation>The Name of the Asset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:minLength value="2"/>
                  <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_MATURITY_DATE">
        <xs:annotation>
            <xs:documentation>The date on which the Asset matures and any redemption payment is made.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_START_DATE">
        <xs:annotation>
            <xs:documentation>The date on which the Asset was added to the Asset Register.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_END_DATE">
        <xs:annotation>
            <xs:documentation>The date that the asset was removed from the Asset Register.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_DESCRIPTION">
        <xs:annotation>
            <xs:documentation>The full description of the Asset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:minLength value="2"/>
              <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_ISSUING_COUNTRY_ISO_CODE">
        <xs:annotation>
            <xs:documentation>The ISO code of the Country in which the Asset is Issued.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                  <xs:length value="2"/>
                <xs:pattern value="[A-Z][A-Z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSET_CURRENCY_ISO_CODE">
        <xs:annotation>
            <xs:documentation>The ISO code of the Currency in which the Asset pays income or interest.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="3"/>
                <xs:pattern value="[A-Z][A-Z][A-Z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ASSETS">
        <xs:annotation>
            <xs:documentation>The list of Assets issued by the enclosing Issuer.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ASSET" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ASSET">
        <xs:annotation>
            <xs:documentation>An Asset issued by the enclosing Issuer.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ASSET_NAME"/>
                <xs:element ref="ASSET_DESCRIPTION"/>
                <xs:element ref="ASSET_ISSUING_COUNTRY_ISO_CODE" minOccurs="0"/>
                <xs:element ref="ASSET_CURRENCY_ISO_CODE" minOccurs="0"/>
                <xs:element ref="ASSET_TYPE"/>
                <xs:element ref="ASSET_START_DATE" minOccurs="0"/>
                <xs:element ref="ASSET_END_DATE" minOccurs="0"/>
                <xs:element ref="ASSET_MATURITY_DATE" minOccurs="0"/>
                <xs:element ref="PAR_VALUE" minOccurs="0"/>
                <xs:element ref="INTEREST_RATE" minOccurs="0"/>
                <xs:element ref="TRADEABLE_LOT" minOccurs="0"/>
                <xs:element ref="PAYMENT_FREQUENCY" minOccurs="0"/>
                <xs:element ref="DAY_COUNT_CONVENTION" minOccurs="0"/>
                <xs:element ref="ANNUAL_DIVIDEND_RATE" minOccurs="0"/>
                <xs:element ref="FIRST_PAYMENT_DATE" minOccurs="0"/>
                <xs:element ref="BUSINESS_UNIT" minOccurs="0"/>
                <xs:element ref="CLIENT" minOccurs="0"/>
                <xs:element ref="ASSET_REFERENCES" minOccurs="0"/>
                <xs:element ref="LISTINGS"/>
            </xs:sequence>
            <xs:attribute name="uniqueId" use="required">
                <xs:annotation>
                    <xs:documentation>The unique identifier that is used to refer to this Asset during all Asset Register feeds.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ANNUAL_DIVIDEND_RATE">
        <xs:annotation>
            <xs:documentation>The Rate at which the Annual Dividend is paid.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
</xs:schema>
