src/test/resources/schemas/fin.940.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit.

This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

This component is subject to the following terms of use:

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

The user  has no right, or right to authorise others, to:
- rent, lease, or sell this component;
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.12.1) on 2011 Jul 07 16:34:18-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.940.2011" targetNamespace="urn:swift:xsd:fin.940.2011" elementFormDefault="qualified">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="MTMessage" abstract="true"/>
    <xs:complexType name="ISO15022Message" abstract="true"/>
    <xs:complexType name="SystemMessage" abstract="true"/>
    <xs:complexType name="Sequence" abstract="true"/>
    <xs:complexType name="Choice" abstract="true"/>
    <xs:complexType name="MTField" abstract="true"/>
    <xs:complexType name="ISO15022Field" abstract="true"/>
    <xs:complexType name="QualifierGroup" abstract="true"/>
    <xs:complexType name="Qualifier" abstract="true"/>
    <xs:complexType name="FieldOption" abstract="true"/>
    <xs:complexType name="ComplexDataType" abstract="true"/>
    <xs:complexType name="ChoiceDataType" abstract="true"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MT940" type="MT940_Type">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Customer Statement Message</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scope
This message type is:
sent by an account servicing institution (reporting institution) to a financial institution (concentrating institution), which has been authorised by the account owner to receive it.
sent by an account servicing institution (reporting institution) to a financial institution account owner.
sent by an account servicing institution to a non-financial institution account owner or party authorised by the account owner to receive the information.
sent by a concentrating institution to a non-financial institution account owner or party authorised by the account owner to receive the information.
It is used to transmit detailed information about all entries booked to the account.
For use of messages in the corporate to bank environment, see the MT message implementation guide for corporate customers available on www.swift.com.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MT940_Type">
        <xs:complexContent>
            <xs:extension base="MTMessage">
                <xs:sequence>
                    <xs:element name="F20a" type="MT940_F20a_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F21a" type="MT940_F21a_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">If the MT 940 is sent in response to an MT 920 Request Message, this field must contain the field 20 Transaction Reference Number of the request message.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F25a" type="MT940_F25a_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Account Identification</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field identifies the account for which the statement is sent.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F28a" type="MT940_F28a_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Statement Number/Sequence Number</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field contains the sequential number of the statement, optionally followed by the sequence number of the message within that statement when more than one message is sent for one statement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F60a" type="MT940_F60a_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Opening Balance</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field specifies, for the (intermediate) opening balance, whether it is a debit or credit balance, the date, the currency and the amount of the balance.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Loop1" type="Loop1_Type" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="F62a" type="MT940_F62a_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Closing Balance (Booked Funds)</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field specifies, for the (intermediate) closing balance, whether it is a debit or credit balance, the date, the currency and the amount of the balance.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F64a" type="MT940_F64a_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Closing Available Balance (Available Funds)</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field indicates the funds which are available to the account owner (if credit balance) or the balance which is subject to interest charges (if debit balance).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F65a" type="MT940_F65a_Type" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Forward Available Balance</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field indicates the funds which are available to the account owner (if a credit or debit balance) for the specified forward value date.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F86a" type="MT940_F86a_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Information to Account Owner</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field contains additional information about the statement as a whole. It is to be passed on to the account owner.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F20a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F20" type="F20_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="20"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F21a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F21" type="F21_8_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="21"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F25a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F25" type="F25_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="25"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F28a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F28C" type="F28C_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="28C"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">Statement Number - Sequence Number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F60a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F60F" type="F60F_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="60F"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F60M" type="F60M_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="60M"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Loop1_Type">
        <xs:complexContent>
            <xs:extension base="Sequence">
                <xs:sequence>
                    <xs:element name="F61a" type="Loop1_F61a_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Statement Line</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field contains the details of each transaction.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F86a" type="Loop1_F86a_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Information to Account Owner</xs:documentation>
                            <xs:documentation source="Definition" xml:lang="EN">This field contains additional information about the transaction detailed in the preceding statement line and which is to be passed on to the account owner.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F62a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F62F" type="F62F_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="62F"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F62M" type="F62M_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="62M"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F64a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F64" type="F64_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="64"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F65a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F65" type="F65_4_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="65"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Currency - Amount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MT940_F86a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F86" type="F86_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="86"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="F20_Type">
        <xs:restriction base="Text_FIN_16x_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F21_8_Type">
        <xs:restriction base="Text_FIN_16x_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F25_Type">
        <xs:restriction base="Text_FIN_35x_Type"/>
    </xs:simpleType>
    <xs:complexType name="F28C_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="StatementNumber" type="Quantity_FIN_5n_Type"/>
                    <xs:element name="SequenceNumber" type="Quantity_FIN_5n_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:SepPrefix value="/"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F60F_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_1_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F60M_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_1_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Loop1_F61a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F61" type="F61_7_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="61"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">Value Date - Entry Date - Debit/Credit Mark - Funds Code - Amount - Transaction Type - Identification Code - Reference for the Account Owner - Reference of the Account Servicing Institution - Supplementary Details</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Loop1_F86a_Type">
        <xs:complexContent>
            <xs:extension base="MTField">
                <xs:choice>
                    <xs:element name="F86" type="F86_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="86"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F62F_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_27_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F62M_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_27_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F64_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_33_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F65_4_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="DCMark" type="Code_1Ea_29_Type"/>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="Currency" type="Currency_Type"/>
                    <xs:element name="Amount" type="Amount_FIN_15d_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="F86_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="Narrative" type="Text_FIN_6M65x_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Text_FIN_16x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="16x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_35x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="35x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quantity_FIN_5n_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Quantity"/>
                <info:FinFormat value="5n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_1_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The (intermediate) opening balance is a credit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The (intermediate) opening balance is a debit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTime_YYMMDD_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="DateTime"/>
                <info:FinFormat value="YYMMDD"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Currency_Type">
        <xs:restriction base="Text_3Ea_Type"/>
    </xs:simpleType>
    <xs:simpleType name="Amount_FIN_15d_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Amount"/>
                <info:FinFormat value="15d"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="15"/>
            <xs:pattern value="[0-9]+,[0-9]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="F61_7_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="ValueDate" type="DateTime_YYMMDD_Type"/>
                    <xs:element name="EntryDate" type="DateTime_MMDD_1_Type" minOccurs="0"/>
                    <xs:element name="DebitCreditMark" type="Code_2a_1_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:LookAheadPattern value="([A-Z])?"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FundsCode" type="Text_FIN_1Ea_Type" minOccurs="0"/>
                    <xs:element name="Amount" type="Quantity_FIN_15d_Type"/>
                    <xs:element name="TransactionType" type="Code_1Ea_26_Type"/>
                    <xs:element name="IdentificationCode" type="Text_FIN_3Ec_Type"/>
                    <xs:element name="ReferenceForTheAccountOwner" type="Text_FIN_16x_noDoubleSlash_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:LookAheadPattern value="(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16})?(&#x0d;&#x0a;[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34})?$"/>
                                <info:MatchUntilPattern value="//|&#x0d;&#x0a;|$"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ReferenceOfTheAccountServicingInstitution" type="Text_FIN_16x_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:SepPrefix value="//"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SupplementaryDetails" type="Text_FIN_34x_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:SepPrefix value="&#x0d;&#x0a;"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Code_1Ea_27_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The (intermediate) closing balance is a credit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The (intermediate) closing balance is a debit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_33_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The closing available balance is a credit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The closing available balance is a debit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_29_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The forward available balance is a credit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">The forward available balance is a debit balance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Text_FIN_6M65x_Type">
        <xs:complexContent>
            <xs:extension base="ComplexDataType">
                <xs:sequence>
                    <xs:annotation>
                        <xs:appinfo>
                            <info:Separator value="&#x0d;&#x0a;"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="6"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Text_1Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="1!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="[A-Z]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_3Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="3!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTime_MMDD_1_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="DateTime"/>
                <info:FinFormat value="MMDD"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_2a_1_Type">
        <xs:restriction base="Text_2a_Type">
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">Credit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">Debit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RC">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of Credit (debit entry)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RD">
                <xs:annotation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of Debit (credit entry)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_1Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="1!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="[A-Z]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quantity_FIN_15d_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Quantity"/>
                <info:FinFormat value="15d"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="15"/>
            <xs:pattern value="[0-9]+,[0-9]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_26_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SWIFT transfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For entries related to SWIFT transfer instructions and subsequent charge messages.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Non-SWIFT transfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For entries related to payment and transfer instructions, including related charges messages, not sent through SWIFT or where an alpha description is preferred.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">First advice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For entries being first advised by the statement (items originated by the account servicing institution).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_3Ec_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="3!c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_16x_noDoubleSlash_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="16x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
            <xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,16}(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,14}){0,7}(/)?[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_34x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="34x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_65x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="65x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="65"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,65}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_2a_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="2a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
            <xs:pattern value="[A-Z]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
