src/test/resources/schemas/MT940.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->

<!-- schema no longer valid as the original converter puts the data in child textnodes instead of attributes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="MT940">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Block1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Bank">
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:annotation>
                                            <xs:appinfo>"Bank","(.){12};</xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="(.){0,12}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="content" use="required">
                            <xs:annotation>
                                <xs:appinfo>"Application Identifier","(F|A|L|X){1}";"Service Identifier","[0-9]{2}";"LT Address","(.){12}";"Session No.","[0-9]{4}";"Sequence No","[0-9]{6}"</xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(.){0,25}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Block2">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Direction">
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="(O|I)"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MessageType">
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:short">
                                                <xs:pattern value="940"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bank">
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="(.){0,12}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="content" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(.){0,47}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Block3" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="content" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(.){0,93}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Block4">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Tag20">
                                <xs:annotation>
                                  <xs:appinfo>Transaction Reference Number (TRN)</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value=".{0,16}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tag21" minOccurs="0">
                                <xs:annotation>
                                  <xs:appinfo>Related Reference</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value=".{0,16}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tag25">
                                <xs:annotation>
                                  <xs:appinfo>Account Identification</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value=".{1,35}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tag28C" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:appinfo>Statement Number / Sequence Number</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value=".{0,5}(/.{0,5}){0,1}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:choice>
                                <xs:element name="Tag60M">
                                    <xs:annotation>
                                      <xs:appinfo>Opening Balance</xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="content" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(C|D)[0-9]{6}[A-Z]{3}[0-9,]{0,15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Tag60F">
                                    <xs:annotation>
                                      <xs:appinfo>Opening Balance</xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="content" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(C|D)[0-9]{6}[A-Z]{3}[0-9,]{0,15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                            <xs:element name="CashItem" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:appinfo>SmartStream specific</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Tag61">
                                            <xs:annotation>
                                              <xs:appinfo>Statement Line</xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="content" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="[0-9]{6}([0-9]{4}){0,1}[ER]{0,1}[CD]{1}[A-Z]{0,1}[0-9,]{1,15}[A-Z]{1}[A-Z]{3}(.){16}(//(.){16}){0,1}((.){0,34}){0,1}"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Tag86" type="Tag86Type" minOccurs="0">
                                            <xs:annotation>
                                              <xs:appinfo>Information to Account Owner</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:choice>
                                <xs:element name="Tag62M">
                                    <xs:annotation>
                                      <xs:appinfo>Closing Balance (Booked Funds)</xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="content" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(C|D)[0-9]{6}[A-Z]{3}[0-9,]{0,15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Tag62F">
                                    <xs:annotation>
                                      <xs:appinfo>Closing Balance (Booked Funds)</xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="content" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(C|D)[0-9]{6}[A-Z]{3}[0-9,]{0,15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                            <xs:element name="Tag64" minOccurs="0">
                                <xs:annotation>
                                  <xs:appinfo>Closing Available Balance (Available Funds)</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Z]{1}[0-9]{1,6}[A-Z]{1,3}[0-9,]{1,15}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tag65" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:appinfo>Forward Available Balance</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="content" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Z]{1}[0-9]{1,6}[A-Z]{1,3}[0-9,]{1,15}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tag86" type="Tag86Type" minOccurs="0">
                                <xs:annotation>
                                  <xs:appinfo>Information to Account Owner</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Tag86Type">
        <xs:attribute name="content" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="((.){1,65}){1,6}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
