src/test/resources/schemas/mtmsg.2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit.

This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

This component is subject to the following terms of use:

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

The user  has no right, or right to authorise others, to:
- rent, lease, or sell this component;
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.30.3) on 2011 Dec 26 13:19:24-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:mtmsg.2012" targetNamespace="urn:swift:xsd:mtmsg.2012" elementFormDefault="qualified">
    <xs:complexType name="FullMessage" abstract="true"/>
    <xs:complexType name="Block" abstract="true"/>
    <xs:complexType name="BlockWithSubBlocks" abstract="true"/>
    <xs:complexType name="FieldOption" abstract="true"/>
    <xs:complexType name="ComplexDataType" abstract="true"/>
    <xs:complexType name="ChoiceDataType" abstract="true"/>
    <xs:element name="GpaMessage" type="GpaMessage_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MessageApplication value="gpa"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GpaMessage_Type">
        <xs:complexContent>
            <xs:extension base="FullMessage">
                <xs:sequence>
                    <xs:element name="Block1" type="Block1Gpa_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:MatchContent value="true"/>
                                <info:Tag value="1"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block2" type="Block2Gpa_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="2"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block4" type="Block4_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="4"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block5" type="Block5_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="5"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block1Gpa_Type">
        <xs:complexContent>
            <xs:extension base="Block">
                <xs:sequence>
                    <xs:element name="ApplicationIdentifier" type="ApplicationIdentifierGpa_Type"/>
                    <xs:element name="ServiceIdentifier" type="ServiceIdentifier_Type"/>
                    <xs:element name="LogicalTerminalAddress" type="LogicalTerminalAddress_Type"/>
                    <xs:element name="SessionNumber" type="SessionNumber_Type"/>
                    <xs:element name="SequenceNumber" type="SequenceNumber_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block2Gpa_Type">
        <xs:complexContent>
            <xs:extension base="Block">
                <xs:sequence>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="InputIdentifier" type="InputIdentifier_Type"/>
                            <xs:element name="MessageType" type="MessageType_Type">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <info:MessageType value="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RecipientAddress" type="RecipientAddress_Type"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="OutputIdentifier" type="OutputIdentifier_Type"/>
                            <xs:element name="MessageType" type="MessageType_Type">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <info:MessageType value="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="InputTime" type="InputTime_Type"/>
                            <xs:element name="MessageInputReference" type="MessageInputReference_Type"/>
                            <xs:element name="Date" type="Date_Type"/>
                            <xs:element name="Time" type="Time_Type"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block4_Type">
        <xs:complexContent>
            <xs:extension base="BlockWithSubBlocks">
                <xs:sequence>
                    <xs:any namespace="##any" processContents="strict"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block5_Type">
        <xs:complexContent>
            <xs:extension base="BlockWithSubBlocks">
                <xs:sequence>
                    <xs:element name="CHK" type="CHK_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="CHK"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SYS" type="SYS_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="SYS"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TNG" type="TNG_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="TNG"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PDE" type="PDE_Type" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="PDE"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="DLM" type="DLM_Type">
                            <xs:annotation>
                                <xs:appinfo>
                                    <info:Tag value="DLM"/>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PDM" type="PDM_Type">
                            <xs:annotation>
                                <xs:appinfo>
                                    <info:Tag value="PDM"/>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MRF" type="MRF_Type">
                            <xs:annotation>
                                <xs:appinfo>
                                    <info:Tag value="MRF"/>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ApplicationIdentifierGpa_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ApplicationIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1Ea_18_Type"/>
    </xs:simpleType>
    <xs:simpleType name="ServiceIdentifier_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ServiceIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_2En_1_Type"/>
    </xs:simpleType>
    <xs:simpleType name="LogicalTerminalAddress_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LogicalTerminalAddress</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_SWIFTAddress_Type"/>
    </xs:simpleType>
    <xs:simpleType name="SessionNumber_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_FIN_4En_Type"/>
    </xs:simpleType>
    <xs:simpleType name="SequenceNumber_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceNumber</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_FIN_6En_Type"/>
    </xs:simpleType>
    <xs:simpleType name="InputIdentifier_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InputIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1Ea_16_Type"/>
    </xs:simpleType>
    <xs:simpleType name="MessageType_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_FIN_3En_Type"/>
    </xs:simpleType>
    <xs:simpleType name="RecipientAddress_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RecipientAddress</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_SWIFTAddress_Type"/>
    </xs:simpleType>
    <xs:simpleType name="OutputIdentifier_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OutputIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1Ea_17_Type"/>
    </xs:simpleType>
    <xs:simpleType name="InputTime_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InputTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="DateTime_HHMM_Type"/>
    </xs:simpleType>
    <xs:complexType name="MessageInputReference_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BranchCode" type="Identifier_FIN_3Ec_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ISN" type="Identifier_FIN_6En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ISN</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Date_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
        </xs:annotation>
        <xs:restriction base="DateTime_YYMMDD_Type"/>
    </xs:simpleType>
    <xs:simpleType name="Time_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
        </xs:annotation>
        <xs:restriction base="DateTime_HHMM_Type"/>
    </xs:simpleType>
    <xs:simpleType name="CHK_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHK</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_12Eh_Type"/>
    </xs:simpleType>
    <xs:complexType name="SYS_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Time - MIR</xs:documentation>
                    </xs:annotation>
                    <xs:element name="Time" type="DateTime_HHMM_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MIR" type="MIR_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">MIR</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="TNG_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TNG</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NULL_Type"/>
    </xs:simpleType>
    <xs:complexType name="PDE_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Time - MIR</xs:documentation>
                    </xs:annotation>
                    <xs:element name="Time" type="DateTime_HHMM_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MIR" type="MIR_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">MIR</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DLM_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DLM</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NULL_Type"/>
    </xs:simpleType>
    <xs:complexType name="PDM_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Time - MOR</xs:documentation>
                    </xs:annotation>
                    <xs:element name="Time" type="DateTime_HHMM_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MOR" type="MOR_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">MOR</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MRF_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FullTime" type="DateTime_HHMMSS_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">FullTime</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MIR" type="MIR_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">MIR</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Code_1Ea_18_Type">
        <xs:restriction base="Text_1Ea_A_Type">
            <xs:enumeration value="A"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_2En_1_Type">
        <xs:restriction base="Text_2En_Type">
            <xs:enumeration value="01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_SWIFTAddress_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="4!a2!a2!c1!c3!c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="12"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z][0-9A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_FIN_4En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="4!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_FIN_6En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="6!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_16_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="I"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_FIN_3En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="3!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_17_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTime_HHMM_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="DateTime"/>
                <info:FinFormat value="HHMM"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTime_YYMMDD_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="DateTime"/>
                <info:FinFormat value="YYMMDD"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_LTIdentifier_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="4!a2!a2!c1!c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_FIN_3Ec_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="3!c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_12Eh_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="12!h"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="12"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[0-9A-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MIR_Type">
        <xs:complexContent>
            <xs:extension base="ComplexDataType">
                <xs:sequence>
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date - LTIdentifier - BranchCode - SessionNumber - ISN</xs:documentation>
                    </xs:annotation>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BranchCode" type="Identifier_FIN_3Ec_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ISN" type="Identifier_FIN_6En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ISN</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="NULL_Type">
        <xs:annotation>
            <xs:documentation source="Definition" xml:lang="EN">To represent empty fields (tag 15 in non ISO messages).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MOR_Type">
        <xs:complexContent>
            <xs:extension base="ComplexDataType">
                <xs:sequence>
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date - LTIdentifier - BranchCode - SessionNumber - OSN</xs:documentation>
                    </xs:annotation>
                    <xs:element name="Date" type="DateTime_YYMMDD_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BranchCode" type="Identifier_FIN_3Ec_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OSN" type="Identifier_FIN_6En_Type">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">OSN</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DateTime_HHMMSS_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="DateTime"/>
                <info:FinFormat value="HHMMSS"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_1Ea_A_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="1!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="A"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_2En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="2!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_1Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="1!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="[A-Z]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FinMessage" type="FinMessage_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MessageApplication value="fin"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="FinMessage_Type">
        <xs:complexContent>
            <xs:extension base="FullMessage">
                <xs:sequence>
                    <xs:element name="Block1" type="Block1Fin_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:MatchContent value="true"/>
                                <info:Tag value="1"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block2" type="Block2Fin_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="2"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block3" type="Block3_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="3"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block4" type="Block4_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="4"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Block5" type="Block5_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="5"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block1Fin_Type">
        <xs:complexContent>
            <xs:extension base="Block">
                <xs:sequence>
                    <xs:element name="ApplicationIdentifier" type="ApplicationIdentifierFin_Type"/>
                    <xs:element name="ServiceIdentifier" type="ServiceIdentifier_Type"/>
                    <xs:element name="LogicalTerminalAddress" type="LogicalTerminalAddress_Type"/>
                    <xs:element name="SessionNumber" type="SessionNumber_Type"/>
                    <xs:element name="SequenceNumber" type="SequenceNumber_Type"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block2Fin_Type">
        <xs:complexContent>
            <xs:extension base="Block">
                <xs:sequence>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="InputIdentifier" type="InputIdentifier_Type"/>
                            <xs:element name="MessageType" type="MessageType_Type">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <info:MessageType value="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DestinationAddress" type="DestinationAddress_Type"/>
                            <xs:element name="MessagePriority" type="MessagePriority_Type"/>
                            <xs:element name="DeliveryMonitoring" type="DeliveryMonitoring_Type" minOccurs="0"/>
                            <xs:element name="ObsolescencePeriod" type="ObsolescencePeriod_Type" minOccurs="0"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="OutputIdentifier" type="OutputIdentifier_Type"/>
                            <xs:element name="MessageType" type="MessageType_Type">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <info:MessageType value="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="InputTime" type="InputTime_Type"/>
                            <xs:element name="MessageInputReference" type="MessageInputReference_Type"/>
                            <xs:element name="Date" type="Date_Type"/>
                            <xs:element name="Time" type="Time_Type"/>
                            <xs:element name="MessagePriority" type="MessagePriority_Type"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Block3_Type">
        <xs:complexContent>
            <xs:extension base="BlockWithSubBlocks">
                <xs:sequence>
                    <xs:element name="F103" type="F103_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="103"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F113" type="F113_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="113"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F108" type="F108_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="108"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F119" type="F119_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:MessageVariant value="102.STP,103.REMIT,103.STP,202.COV,205.COV,574.IRSLST,574.W8BENO"/>
                                <info:Tag value="119"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F115" type="F115_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="115"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="F433" type="F433_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:Tag value="433"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ApplicationIdentifierFin_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ApplicationIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1Ea_15_Type"/>
    </xs:simpleType>
    <xs:simpleType name="DestinationAddress_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DestinationAddress</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_ReceiverAddress_Type"/>
    </xs:simpleType>
    <xs:simpleType name="MessagePriority_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessagePriority</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1Ea_14_Type"/>
    </xs:simpleType>
    <xs:simpleType name="DeliveryMonitoring_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryMonitoring</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Code_1En_3_Type"/>
    </xs:simpleType>
    <xs:simpleType name="ObsolescencePeriod_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ObsolescencePeriod</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_3En_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F103_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ServiceCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Identifier_FIN_3Ea_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F113_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">F113</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_4Ex_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F108_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_16x_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F119_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">F119</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_8c_Type"/>
    </xs:simpleType>
    <xs:simpleType name="F115_Type">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentReleaseInformationReceiver</xs:documentation>
        </xs:annotation>
        <xs:restriction base="Text_FIN_32x_Type"/>
    </xs:simpleType>
    <xs:complexType name="F433_Type">
        <xs:complexContent>
            <xs:extension base="FieldOption">
                <xs:sequence>
                    <xs:element name="CodeWord" type="Text_FIN_3Ea_Type">
                        <xs:annotation>
                            <xs:appinfo>
                                <info:SepPrefix value="/"/>
                                <info:SepSuffix value="/"/>
                            </xs:appinfo>
                            <xs:documentation source="Name" xml:lang="EN">CodeWord</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AdditionalInformation" type="Text_20x_Type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="Code_1Ea_15_Type">
        <xs:restriction base="Text_1Ea_F_Type">
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_ReceiverAddress_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="4!a2!a2!cX3!c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="12"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}X[0-9A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1Ea_14_Type">
        <xs:restriction base="Text_1Ea_Type">
            <xs:enumeration value="S"/>
            <xs:enumeration value="U"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Code_1En_3_Type">
        <xs:restriction base="Text_1En_Type">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_3En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="3!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Identifier_FIN_3Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Identifier"/>
                <info:FinFormat value="3!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_4Ex_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="4!x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_16x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="16x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_8c_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="8c"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_32x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="32x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_FIN_3Ea_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="3!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_20x_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Text"/>
                <info:FinFormat value="20x"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_1Ea_F_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="1!a"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="F"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text_1En_Type">
        <xs:annotation>
            <xs:appinfo>
                <info:MetaType value="Code"/>
                <info:FinFormat value="1!n"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
