src/test/resources/schemas/hsbc/MODPDataFileHeader_v0.1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="MODPDataFileHeader">
        <xs:annotation>
            <xs:documentation>Provides the control information for a file</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatasetID" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The unique identifier for the Dataset that this record belongs to</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecordType" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The type of record, e.g. Asset, Portfolio, Position etc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DataService" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifies the type of Data Service (e.g. Assets, Portfolio, Operational Data)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SentTo" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The name of the consumer of this data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SentBy" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The name of the provider of this data (i.e. HSS MODP)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreationTimestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The date and time this Dataset was created</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SoftSLATime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The date and time at which a warning will be issued to indicate that the Dataset is running behind schedule</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HardSLATime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The date and time at which the Dataset will be considered as breaching its SLA and recovery action should be taken</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalCount" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The total number of records of this type included in the file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrimaryCount" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The number of records of this type included in the file because they are the primary records</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SecondaryCount" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The number of records of this type included in the file because one or more other records are dependant on them</xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
